.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calibre-Regular',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック", "MS PGothic",sans-serif;
    background-color: #d5d5d5;
 
    padding: 2rem 0;
}

